{% extends 'layout.html' %} 
{% block head %} 
<title> 
    options
</title> 
{% endblock %} 
{% block content %} 

    <form method='POST'>
        <h1> Select Something (We gotta chenge this) </h1>
         <input type='checkbox' value='genre' name='options'> Genre 
         <input type='checkbox' value='rating' name='options'> Minimun User Rating 
         <input type='checkbox' value='streamingservices' name='options'> Streaming Services 
         <input type="submit"> Submit
    </form>


{% endblock content %}